Repository gruener-campus-malchow/colamator, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, model, documentation

.github/labeler.yml:

frontend:
    - frontend/**
    
model:
    - api/models/**
    
documentation:
    - doc/**

Update README.md
  README.md
Labels: none

Rename readme.md to readme?.md
  api/readme?.md
Labels: none

Rename readme?.md to readme2.md
  api/readme2.md
Labels: none

improved and generalized previous commit
  frontend/js/chat.js
  frontend/js/index.js
  frontend/js/main.js
Labels: frontend

Update index.js
  frontend/js/index.js
Labels: frontend

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

worked more
  doc/createTables_maria-DB.sql
  doc/erm.dot
  doc/erm.svg
Labels: documentation

Created some models
  api/models/Beispiel.php
  api/models/Create_table.php
  api/models/Spezial.php
  api/models/Tables.php
Labels: model

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

updated user table creation
  api/models/User.php
Labels: model

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

finished Tables.php
  api/models/Tables.php
Labels: model

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

Update statistics.js
  frontend/js/statistics.js
Labels: frontend

new entities in ERM
  doc/erm.dot
  doc/erm.svg
Labels: documentation

new entities in ERM
  doc/erm.dot
  doc/erm.svg
Labels: documentation

cleanup
  api/models/User.php
Labels: model

implemented getSingle()
  api/models/Tables.php
Labels: model

added error codes
  api/models/Tables.php
Labels: model

refactor
  api/models/User.php
Labels: model

implemented deletion of users
  api/models/User.php
Labels: model

some implementations towards new data structure
  api/models/User.php
Labels: model

Updated SQL statements to new erm
  doc/createTables_maria-DB.sql
Labels: documentation

some doc cleanup
  doc/URIlist.txt
  doc/aapi.md
  doc/apiRequest_max
  doc/avi_request.md
  doc/loic_requests
  doc/maihoernchen_requests
  doc/requests_alex.md
  doc/tnk_requests.md
Labels: documentation

added requests.md
  doc/requests.md
Labels: documentation

formatting
  doc/requests.md
Labels: documentation

more cleanup
  ERMv0.3.1.dia
  doc/API3.md
  doc/ERM.png
  doc/ERMv0.2.dia
  doc/ERMv0.3.dia
  doc/erm.dot
  doc/erm.svg
  doc/mvc.dot
  doc/mvc.svg
  doc/pronote_share_231116_104225.pdf
Labels: documentation

Create readme.md
  doc/readme.md
Labels: documentation

Restore readme.md
  doc/readme.md
Labels: documentation

Restore .htaccess
  api/.htaccess
Labels: none
